*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: force-square;
    src: url(../assets/font/Forced-Square-Regular.ttf) format(truetype),
         url(../assets/font/SVN-VT-Redzone-Classic.otf) format(truetype),
         url(../assets/font/Unicod.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
html{
    font-size: 16px;
}
.heading{
    font-size: 30px;
    font-weight: 500;
}
.subheading{
    font-size: 20px;
    font-style: italic;
    font-weight: 450;
}
.header{
    background: linear-gradient(160deg, darkblue, lightblue);
    height: 140px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}
.header .logo{
    padding: 12px 0px;
    height: 140px;
}
.header .logo-school{
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px 24px;
}
.header .logo-school img{
    height: 70px;
}
.header-content{
    float: left;
    height: 100%;
    padding: 30px 0px;
}
.name-major{
    font-size: 40px;
    color: lightyellow; 
    font-weight: 650;
}
.name-school{
    font-size: 30px;
    font-weight: 500;
    color: lightblue;
}
.body{
    margin-top: 140px;
    background-color: rgb(235, 235, 235);
    min-height: 700px;
}
.about{
    padding: 40px 128px;
    text-align: center;
}
.about .heading{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: aqua;
    min-height: 200px;
}

