/*======================================================*/
/* BEGIN RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    overflow-x: hidden;
}
body{
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* END RESET CSS */
/*======================================================*/
/* BEGIN SHARE ELEMENT */
.boder{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 180px;
    box-shadow: inset 0px 0px 15px rgb(255, 255, 255);
}
/* END SHARE ELEMENT */
/*======================================================*/
/* BEGIN HEADER CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.322);
    height: 125px;
    margin-left: 10%;
    margin-right: 10%;
    
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-top: 0px;
    border-radius: 0px 0px 12px 12px;
    border-collapse: collapse;
    
}
#header .header-img img{
    height: 60px;
}
#header .img-school{
    margin: 12px;
    position: absolute;
    top: 0;
    right: 0;
}
#header .img-school img{
    height: 40px;
    border-color: rgb(0, 240, 248);
}
#header .img-item.LogoIS{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    margin: 12px;
}
#header .header-title{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    margin-left: 125px;
    margin-bottom: 12px;

    text-decoration: underline;
    text-decoration-color: lightblue;
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
}
#header .header-title p{
    color: white;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#header .header-navigation{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;

    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;

    display: flex;
    align-items: center;
}
#header .header-navigation .navigation-item{
    width: calc(100%/3);
    float: left;
    text-align: center;    
}
#header .header-navigation a{
    text-decoration: none;
    color: white;
    font-size: 24px;

    border-radius: 5px;
    padding: 4px 12px; 
}
#header .header-navigation a:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
/* END HEADER CSS */
/*======================================================*/
/* BEGIN BODY CSS */
#body{
    margin-top: 140px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 120px;

    background: rgba(0, 0, 0, 0.514);
    border-radius: 12px;
    box-shadow: inset 0px 0px 15px rgb(161, 255, 250);
}
.about-container{
    display: none;
}
.classStructure{
    display: inherit;
}
.title.item{
    display: block;
    width: 100%;
}
.container{
    height: 100%;
}
.container .title-item .title-heading{
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 12px 0px;

    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    text-align: center;    
    color: rgb(255, 255, 255);

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 247, 255);
    text-underline-offset: 12px;

    background-color: rgba(0, 0, 255, 0.322);
    border-radius: 10px 10px 0px 0px;
}
.title-item .title-subheading{
    margin-right: 8px;
    margin-left: 8px;

    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 238, 0);
    text-align: center;
    padding: 12px 0px;
    padding-top: 4px;
    font-weight: 300;
    font-style: italic;

    background-color: rgba(0, 0, 255, 0.322);
    border-radius: 0px 0px 10px 10px;
}
.container .content-item{
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    min-height: 300px;

    background: rgba(0, 41, 223, 0.178);
    border-radius: 10px;

    display: flex;
    align-items: center;
}
.container .content-item .passage-item{
    padding: 12px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;

    color: white;
    font-size: 24px;
    line-height: 1.5;
}

.classStructure-content{
    position: relative;
}
.classStructure-content .img-item{
    margin-bottom: 12px;
    margin-top: 12px;
}
.classStructure-content .img-item .image{
    height: 100px;
    border-radius: 10px;
    margin-bottom: 8px;
}
.classStructure-content .img-content{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: white;
}
.classStructure-content .name-item{
    text-decoration: underline;
    text-decoration-color: lightblue;
    text-underline-offset: 4px;
}
.classStructure-content .lecturer-item,
.classStructure-content .staff-item,
.classStructure-content .union-item{
    margin-left: 1%;
    margin-right: 1%;
}
.classStructure-content .lecturer-item{
    width: 100%;
    float: left;
    text-align: center;
}
.classStructure-content .staff-item{
    width: 100%;
}
.classStructure-content .staff-item .img-item{
    width: calc(100%/4);
    float: left;
}
.classStructure-content .union-item{
    width: 100%;
}
.classStructure-content .union-item .img-item{
    width: calc(100%/5);
    float: left;
    margin-bottom: 52px;
}
.contact-button{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;

    margin-right: 1%;
    margin-left: 1%;
}
.contact-button button{
    font-size: 16px;
    padding: 8px
}
/* END HEADER CSS */
/*======================================================*/
/* BEGIN FOOTER CSS */
#footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    min-height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 36px;

    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 12px 12px 0px 0px;
    border-bottom: 0px;
}
#footer .footer-container{
    margin: 12px;
    float: left;
    width: 100%;
    text-align: center;
}
#footer .footer-item{
    width: calc(100%/2);
    float:left;
}
#footer .about-source p,
#footer .about-source a,
#footer .footer-link a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.699);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
#footer .about-source a,
#footer .footer-link a{
    color: rgb(128, 251, 255);
    opacity: 0.7;
}
#footer .footer-link{
    width: 50%;
}
#footer .link-item{
    display: block;
}
#footer .about-source a:hover,
#footer .footer-link a:hover{
    color: rgb(128, 251, 255);
    opacity: 1;
}
/* END HEADER CSS */
/*======================================================*/