*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: force-square;
    src: url(../assets/font/Forced-Square-Regular.ttf) format(truetype);   
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: redzone;
    src: url(../assets/font/SVN-VT-Redzone-Classic.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: unicod;
    src: url(../assets/font/Unicod.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
html{
    font-size: 16px;
}
.clear{
    clear: both;
}
.heading{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 4px;
}
.subheading{
    font-size: 20px;
    font-style: italic;
    font-weight: 450;
    font-size: 30px;
    padding-bottom: 36px;
}
.header{
    background: linear-gradient(160deg, darkblue, lightyellow);
    height: 140px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}
.header .logo{
    padding: 12px 0px;
    height: 140px;
}
.header .logo-school{
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px 24px;
}
.header .logo-school img{
    height: 70px;
}
.header-content{
    float: left;
    height: 100%;
    padding: 30px 0px;
}
.name-major{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(226, 223, 255); 
    font-weight: 650;
}
.name-school{
    font-size: 30px;
    font-weight: 500;
    color: rgb(246, 255, 207);
}
.body{
    margin-top: 140px;
    background-color: rgb(235, 235, 235);
    min-height: 700px;
}
.about{
    padding: 40px 128px;
    text-align: center;
    background: darkblue;
}
.about .heading{
    color: white;
}
.about .subheading{
    color: rgb(240, 255, 36);
}
.about .content{
    color: white;
    font-size: 25px;
    padding: 0px 10%;
    line-height: 1.9;
}
.class{
    padding: 40px 10%;
    background: linear-gradient(180deg, rgb(0, 0, 190), rgb(74, 0, 172));
}
.class img{
    border-radius: 50px;
    margin-bottom: 4px;   
    height: 140px;
}
.class .about-person{
    line-height: 1.4;
}
.class .name-person{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.class .position{
    color: white;
    font-size: 20px;
}
.class .email-link{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 20px;
}
.class .heading{
    text-align: center;
    color: rgb(255, 255, 255);
}
.class .subheading{
    text-align: center;
    color: rgb(238, 255, 0);
    padding-bottom: 40px;
}
.class .lectured{
    text-align: center;
    margin-bottom: 12px;
}
.class .staff{
    text-align: center;
}
.class .staff .person{
    float: left;
    width: calc(100%/4);    
    margin-bottom: 36px;
}
.class .union{
    text-align: center;
}
.class .union .person{
    float: left;
    width: calc(100%/5);
}

.footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 24px 120px;
    background-color: #ccc;
}
.footer-about{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-contact, .footer-content{
    opacity: 0.7;
    color: rgb(0, 0, 0);
}
.footer-email{
    color: black;
}


